.search-bar {
  width: 75%;
  height: 52px;
  background-color: rgb(207, 207, 207);
  border: 2px solid var(--bg-color);
  border-radius: 10px;
  padding: 10px;
  transition: border-color 0.1s ease;
}

.search-bar:hover {
  border: 2px solid #838383;

}

.search-bar:focus {
  outline: none;
  border-color: var(--primary);
}