.item-card-container {
  background-color: rgb(40, 39, 39);
  margin: 100px;
  padding: 16px;
  border-radius: 10px;
  height: 50px;
}

.item-title {
  margin: 0;
  color: var(--primary);
}

.exp-date-txt {
  margin: 0;
  display: inline-flex;
  color: rgb(95, 71, 71);
}

.exp-date {
  margin: 0 0 0 6px;
  display: inline-flex;
  font-size: 12px;
}