.item-details {
  background: #262626;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.item-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.item-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.item-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* .item-card-container {
  background-color: rgb(40, 39, 39);
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 10px;
  height: 50px;
}

.item-title {
  margin: 0;
  color: var(--primary);
}

.exp-date-txt {
  margin: 0;
  display: inline-flex;
  color: rgb(95, 71, 71);
}

.exp-date {
  margin: 0 0 0 6px;
  display: inline-flex;
  font-size: 12px;
} */