.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  margin-top: 100px;
}

.items {
  display: flex; /* Use flexbox for the items container */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
}