@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: rgb(63, 166, 63);
  /* --bg-color: rgb(92, 91, 91); */
  --bg-color: rgb(228, 228, 228);
  --error: rgb(208, 29, 29);
}

body {
  background: var(--bg-color);
  margin: 0;
  font-family: "Poppins";
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}