header {
  background-color: rgb(35, 35, 35);
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--primary);
  text-decoration: none;
}

.fresh-watch-txt:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

header .button {
  background: rgb(35, 35, 35);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}


/* .header {
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgb(35, 35, 35);
  border-bottom-width: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.fresh-watch-txt {
  margin-left: 12px;
  color: var(--primary);
  font-weight: 1000;
  font-size: 30px;
}

*/